body {
    display: flex;
    flex-wrap: wrap;
}
.profile {
    background-color: dimgray;
    
    width: 20%;
}

img{
    width: 100%;
}

.text  {
    padding: 5%;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: azure;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}



